@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&display=swap");

:root {
  --primary-cl-07: rgba(40, 143, 159, 0.7);
  --primary-cl-03: rgba(40, 143, 159, 0.3);
  --secondary-card-cl-07: rgba(88, 88, 88, 0.7);
  --bg-cl: rgba(255, 255, 255, 0.015);
  --white-cl-10: hsla(0, 100%, 100%, 1);
  --white-cl-05: hsla(0, 100%, 100%, 0.5);
  --white-cl-02: hsla(0, 100%, 100%, 0.3);
  --alert-cl: hsl(16, 100%, 50%);
}

html {
  font-size: 82.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #fff;
  /* overflow-x: hidden; */
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0.5rem 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
}
p {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  min-height: 100vh;

  background: url("./img/background-image.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3rem 0;
}

.main-content-wp {
  display: flex;
  flex-direction: column;

  min-width: 75vw;

  min-height: 100vh;

  background: var(--bg-cl);
  padding: 3rem;
  backdrop-filter: blur(10px);
  box-shadow: 15px 15px 10px #0000;
}

.icon {
  font-size: 2.5rem;
  color: var(--alert-cl);
}

/* Media queries */

@media only screen and (max-width: 1530px) {
  html {
    font-size: 70%;
  }
  section {
    width: 75vw;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }
  section {
    width: 95vw;
  }
}

@media only screen and (max-width: 860px) {
  .container {
    height: 100%;
  }
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 640px) {
  .main-content-wp {
    width: 100vw;
    padding: 5rem 0;
  }
}
